[Unit]
Description=Nagios Service Check Acceptor
After=syslog.target network.target auditd.service

[Service]
EnvironmentFile=-/etc/sysconfig/nsca
ExecStart=/usr/sbin/nsca $OPTIONS -c /etc/nagios/nsca.cfg
ExecReload=/bin/kill -HUP $MAINPID
Type=forking

[Install]
WantedBy=multi-user.target
